.lesson {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    width: 204px;
    height: 240px;
    border-radius: 16px;
  }
  
  .lesson-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 8px 8px 0px 0px; 
    overflow: hidden; 
}
  
.lesson-image {
    width: 100%; 
    height: 128px;
    border-radius: 8px 8px 0px 0px;
}
.time-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    position: absolute;
    width: 36px;
    height: 16px;
    top: 85px; 
    left: 130px; 
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    
}

.time-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

  
  .lesson-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left:  8px;
    margin-left: 5px;
  }
  
  .lesson-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 4px;
  }
  
  .lesson-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  
  .lesson-date {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding-bottom: 6px;
  }
  
  .lesson-attachment {
    display: flex;
    align-items: center;
    gap: 4px;
    border-bottom: 1px solid #0074CC;
  }
  
  .download-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #0074CC;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .download-icon {
    width: 16px;
    height: 16px;
  }
  
  .heart-icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
  