
.lessons-display-area {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #61537B;
    
}

.course-section{

    background: #61537B;
    padding: 40px;
    width: calc(100% - 30%); 
    overflow-y: auto;
    position: fixed;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.dashboard-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #000000;
    padding: 15px;
}
.hamburger{
    display: none;
}

.favorites-section {
  background-color: #FFFFFF;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-left: 20px;
  padding-top: 20px;
  
}

.section-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.02em;
    color: #000000;
    padding-left: 35px;
    padding-top: 20px;
}

.lesson-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 24px;
    gap: 40px 24px;
}

.recent-course-videos-section {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 4px;
    padding-top: 40px;
    padding-left: 20px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.greetings-user{
    display: none;
}





@media (max-width: 600px) {
    .lessons-display-area {
        background-color: #FFFFFF;
        width: 100%;
        
      }

      .course-section{
        display: flex;
        padding: 10px;
        background: #FFFFFF;
        position: fixed;
        left: 0;
        width: 100%;
      }
      .greetings-user{
        display: flex;
        padding-top: 20px;
        border-bottom: 4px solid rgba(229, 222, 222, 0.8);
        padding-bottom: 16px; 
        margin-bottom: 14px; 
        width: 80%;
        margin-left: 20px;
    }
    .favorites-section{
        padding-top: 0px;
    }

    .section-title {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        line-height: 28px;
        padding-left: 0;
    }

    .lesson-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px 24px;
        border-bottom: 4px solid rgba(229, 222, 222, 0.8);
        padding-bottom: 16px; 
        margin-bottom: 14px; 
        /* width: 80%;  */
    }
    .recent-course-videos-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
        padding-top: 0px;
    }
    .sidebar {
    display: none;
    }
}