.lessons-display-area {
    position: absolute;
    width: 1036px;
    height: 1816px;
    left: 308px;
    top: 163px;
    overflow-y: scroll;
    border-radius: 16px 16px 0px 0px;
}

.user-greeting-section {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #61537B;
    padding: 20px;
}

.dashboard-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #000000;
    padding: 15px;
}
.hamburger{
    display: none;
}

.favorites-section {
    background-color: #FFFFFF;
    padding: 20px;
}

.section-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.02em;
    color: #000000;
    padding-left: 35px;
    padding-top: 20px;
}

.lessons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 24px;
    gap: 40px 24px;
}

.recent-course-videos-section {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #61537B;
    padding: 20px;
}


@media (max-width: 600px) {
    .lessons-display-area {
        width: 100%;
        height: auto;
        left: 0;
        top: 76px;
        overflow-y: auto;
        padding-bottom: 20px;
    }

    .user-greeting-section, .recent-course-videos-section {
        text-align: center;
    }

    .dashboard-title {
        font-size: 24px;
        line-height: 32px;
    }

    .section-title {
        font-size: 20px;
        line-height: 28px;
        padding-left: 0;
    }

    .lessons-container {
        flex-direction: column;
        gap: 20px;
    }

    .hamburger {
        display:block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1001;
        cursor: pointer;
        font-size: 24px;
        background: none;
        border: none;
        color: #000;
    }

    .sidebar {
        width: 70%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.open {
        transform: translateX(0);
    }
}