/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px; 
    position: fixed;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #61537B;
    
}
/* Logo */
.sidebar-logo {
    width: 256px;
    height: 88.73px;    
}

/* Admin Greeting */
.sidebar-greeting {
    padding-top:40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 16px; 
    margin-bottom: 14px; 
    width: 100%;
}

/* Menu Items */
.sidebar-list {
    width: 150%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Individual Menu Item */
.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 16px;
    width: 100%;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

/* Apply border only to sections */
.home-section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 16px; 
    margin-bottom: 14px; 
    width: 70%;
}
.sidebar-section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 16px; 
    margin-bottom: 14px; 
    width: 70%;
}

/* Hover effect */
.sidebar-item:hover {
    background: rgba(255, 255, 255, 0.3);
}

.sidebar-item-icon {
    width: 20px;;
    height: 20px;
    margin-right: 10px;
}
.custom-link {
    text-decoration: none; 
    color: inherit; 
  }
  
  .custom-link:hover, .custom-link:focus, .custom-link:active {
    text-decoration: none; 
    color: inherit; 
  }
  