.button {
  padding: 16px;
  color: var(--text-dark);
  font-weight: bold;
  font-size: 16px;
  background-color: var(--primary-b);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80px;
}

.button:hover {
  background-color: rgba(220, 158, 71, 0.7);
}

.button:disabled {
  background-color: rgba(220, 158, 71, 0.1);
  cursor: not-allowed;
}
